<div id="error">
  <%= render 'public/shared/error_messages', resource: @chat %>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card">
        <div class="card-header bg-secondary text-center text-light font-weight-bold">
          <%= @group.name %>のチャット
        </div>
        <div class="card-body bg-light overflow-auto" style="height: 400px;" id="group_messages">
          <%= render 'message', chats: @chats %>
        </div>
      </div>
      <%= form_with model: @chat, url: group_messages_path, method: :post, local: false do |f| %>
      <div class="form-group" style="height: 40%">
        <%= f.text_area :message, class: "form-control form-control-lg", placeholder: "コメント" %>
          <%= f.hidden_field :group_id %>
          <%= f.submit "Send", class: "btn btn-outline-success btn-block"%>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 mx-auto text-center">
      <%= link_to "Back", group_path(@chat.group), class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>