<div class="container">
  <div class="row">
    <div class="col-lg-12 wrap">
      <ul id="groups_tab-menu">
        <li><%= link_to "All", groups_path, remote: true, class: "active" %></li>
        <li><%= link_to "Your groups", groups_path(user_id: current_user.id), remote: true, class: "" %></li>
        <li>
          <%= form_tag(groups_path, method: :get, remote: true) do%>
            <%= select_tag(:genre_id, options_from_collection_for_select(@genres, :id, :name), include_blank: false) %>
            <%= submit_tag("Filter", class: "btn btn-outline-light p-0")%>
          <% end %>
        </li>
      </ul>
      <div class="overflow-auto" id="tab-contents" style="height: 600px">
        <div class="tab d-flex flex-wrap" id="groups_index">
          <%= render 'index', groups: @groups %>
        </div>
      </div>
    </div>
  </div>
</div>