<% unless posts == [] %>
  <% posts.each do |post| %>
  <% if current_page?(root_path) || current_page?(posts_path) || current_page?(user_path) %>
    <div class="col-lg-4 p-0 card_zoom_wrap">
  <% else %>
    <div class="col-lg-8 p-0 mx-auto">
  <% end %>
      <div class="card m-3">
        <%= image_tag post.get_post_image(300,300), class: "card-img" %>
      <div class="card-img-overlay">
        <div class="d-flex">
          <p class="mb-0">
            <%= link_to user_path(post.user), class: "text-white text-shadow" do %>
            <%= image_tag post.user.get_profile_image(20,20), class: "rounded-circle border border-light" %>
            <%= post.user.name %>
            <% end %>
          </p>
          <div class="ml-auto mt-1" id="post_favorite_<%= post.id %>">
          <% if user_signed_in? %>
          <%= render 'public/post_favorites/post_favorite_btn', post: post %>
          <% end %>
          </div>
        </div>
        <div>
          <h4 class="font-weight-bold"><%= link_to post.title, post_path(post), class: "text-white text-shadow" %></h5>
        </div>
        <div class="information">
          <small class="text-white text-shadow" id="liked_count_<%= post.id %>"><%= render 'public/posts/liked_post_count', post: post %></small><br>
          <small class="text-white text-shadow">Tag :
            <% unless post.genres == [] %>
              <% post.genres.each do |genre| %>
                <%= link_to genre.name, posts_path(genre_id: genre.id), class: "btn btn-info btn-tag" %>
              <% end %>
            <% else %>
              None
            <% end %>
          </small><br>
          <% if post.user == current_user %>
            <%= link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger pt-0 pb-0 pr-1 pl-1" %>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-secondary mx-auto mt-5">投稿が存在しません</p>
<% end %>
