<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="font-weight-bold">Posts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 offset-lg-1">
      <%= render 'public/genres/genre_search', genres: @genres %>
      <div class="card shadow">
        <div class="card-header font-weight-bold bg-dark text-white">
          Others
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to 'Your posts', posts_path(user_id: current_user.id), remote: true, class: "text-dark" %>
            (<%= current_user.posts.count %>)
          </li>
          <li class="list-group-item">
            <%= link_to 'Liked posts', posts_path(liked_post_id: current_user.id), remote: true, class: "text-dark" %>
            (<%= current_user.liked_post.count %>)
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-7 pr-2 pl-2" id="post_index">
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>