<div class="container">
  <div class="row">
    <div class="col-lg-11 mx-auto">
      <div class="card mx-auto text-center mb-3">
        <div class="card-header pt-0 pb-0 bg-dark text-light">
          ジャンル検索
        </div>
        <div class="card-body">
          <%= form_with url: posts_path, method: :get, local: true do |f| %>
          <div class="d-flex flex-row flex-wrap">
            <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
              <div class="mx-1 font-weight-bold">
                <%= b.check_box %>
                <%= b.label %>
              </div>
            <% end %>
          </div>
            <%= f.submit "Search", class: "btn btn-success pt-0 pb-0"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-12 wrap">
      <ul id="tab-menu">
        <li><%= link_to "All", posts_path, remote: true, class: "active" %></li>
        <li><%= link_to "Yours", posts_path(user_id: current_user.id), remote: true, class: "" %></li>
        <li><%= link_to "Follow", posts_path(followings_id: current_user.id), remote: true, class: "" %></li>
        <li><%= link_to "Like", posts_path(liked_post_id: current_user.id), remote: true, class: "" %></li>
      </ul>
      <div id="tab-contents">
        <div id="post_index" class="tab d-flex flex-wrap">
          <%= render 'index', posts: @posts %>
        </div>
      </div>
      <div id="posts_paginate">
        <%= paginate @posts, class: "mx-auto" %>
      </div>
    </div>
  </div>
</div>

