<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="font-weight-bold">Posts</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 offset-lg-1">
      <div class="card" style="width: 18rem;">
        <div class="card-header font-weight-bold">
          Genres
        </div>
        <% @genres.each do |genre| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <%= link_to genre.name, posts_path(genre_id: genre.id), class: "text-dark" %>
            (<%= genre.posts.count %>)
          </li>
        <% end %>
          <li class="list-group-item">
            <%= link_to "All", posts_path, class: "text-dark" %>
            (<%= Post.all.count %>)
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-7 pr-2 pl-2">
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>