  <div class="border-bottom border-info">
    <%= link_to artist_path(artist.id), class: 'd-flex flex-column align-items-center' do %>
      <% if artist.images.any? %>
        <% image = artist.images[1] %>
        <%= image_tag(image["url"], size: '200x200', class: 'rounded-circle shadow')%>
      <% else %>
        <%= image_tag("default.jpg", size: '200x200', class: 'rounded-circle shadow') %>
      <% end %>
      <%= artist.name %>
    <% end %>
    <%= render 'public/artist_favorites/artist_favorite_btn', artist: artist %>
  </div>
  <div class="overflow-auto", style="height: 300px;">
    <%= render 'public/users/favorite_musics', musics: artist.top_tracks(:JP)%>
  </div>