<% comments.each do |comment| %>
  <% if comment.user_id == current_user.id %>
  <div class="text-right pr-3">
    <div class="d-flex  pt-1">
      <% if comment.is_deleted == false %>
        <p class="border mb-0 pl-2 pr-2 ml-auto rounded bg-white border border-secondary"><%= comment.comment %></p>
      <% else %>
        <p class="border mb-0 pl-2 pr-2 ml-auto rounded bg-white border border-secondary text-muted">コメントは削除されました</p>
      <% end %>
    </div>
    <small class="text-muted">
      <%= link_to "Delete", post_post_comment_path(@post,comment), method: :delete, remote: true, class: "btn btn-outline-danger p-0" %>
      <%= comment.created_at.to_s(:datetime_jp) %>
    </small>
  </div>
  <% else %>
  <div class="text-left pl-3">
    <div class="align-middle">
      <%= image_tag comment.user.get_profile_image(20,20), class: 'rounded-circle' %>
      <%= comment.user.name %>
    </div>
    <div class="d-flex pt-1">
      <% if comment.is_deleted == false %>
        <p class="border mb-0 ml-3 pl-2 pr-2 rounded border border-secondary" style="background-color: #bbe2f1;"><%= comment.comment %></p>
      <% else %>
        <p class="border mb-0 ml-3 pl-2 pr-2 rounded border border-secondary text-muted" style="background-color: #bbe2f1;">コメントは削除されました</p>
      <% end %>
    </div>
    <small class="text-muted ml-3"><%= comment.created_at.to_s(:datetime_jp) %></small>
  </div>
  <% end %>
<% end %>