<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <table class="table table-sm text-center table-bordered table-striped">
        <thead class="bg-secondary text-white">
          <tr>
            <th scope="col" style="width: auto"></th>
            <th scope="col" style="width: auto">Name</th>
            <th scope="col" style="width: auto">Posts</th>
            <th scope="col" style="width: auto">Comments</th>
            <th scope="col" style="width: auto">Status</th>
            <th scope="col" style="width: auto">Registered Date</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr class="text-secondary">
            <td class="align-middle"><%= image_tag user.get_profile_image(30,30), class: "rounded-circle" %></td>
            <td class="align-middle"><%= link_to user.name, admin_user_path(user), class: "text-secondary" %></td>
            <td class="align-middle"><%= link_to user.posts.count, admin_posts_path(user_id: user.id), class: "text-secondary" %></td>
            <td class="align-middle"><%= user.group_messages.count %></td>
            <td class="align-middle">
              <% if user.is_deleted == false %>
                <p class="text-info mb-0">有効</p>
              <% else %>
                <p class="text-danger mb-0">退会</p>
              <% end %>
            </td>
            <td class="align-middle text-secondary"><%= user.created_at.to_s(:datetime_jp) %></td>
          </tr>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>