<table class="table table-sm table-borderless text-center">
<% unless musics == nil %>
  <% musics.each do |music| %>
  <tr class="border-bottom">
    <td scope="col" style="width: 10%">
      <% if music.album.images.any? %>
        <% image = music.album.images[1] %>
        <%= image_tag(image["url"], size: '30x30', class: 'rounded-circle') %>
      <% else %>
        <%= image_tag("default.jpg", size: '30x30', class: 'rounded-circle') %>
      <% end %>
    </td>
    <th class="align-middle" scope="col" style="width:70%">
      <%= music.name %>
    </th>
    <td class="align-middle" scope="col" style="width: 10%" id="music_favorite_<%= music.id %>">
      <%= render 'public/music_favorites/music_favorite_btn', music: music %>
    </td>
    <td class="align-middle" scope="col" style="width: 10%">
      <% unless music.preview_url == nil %>
        <%= link_to music.preview_url do %>
          <i class="fas fa-music" style="font-size: 20px; color: #78c904;"></i>
        <% end %>
      <% else %>
        <i class="fas fa-times" style="font-size: 20px; color: #c3c3c3;"></i>
      <% end %>
    </td>
  </tr>
  <% end %>
<% else %>
  <p class="text-muted text-center mt-5">ミュージックが存在しません</p>
<% end %>
</table>