<div class="mb-1 pt-3 pb-3 border-bttom text-center" style="background-image: url(<%= url_for(user.get_background_image_url()) %>); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  <%= link_to user_path(user) do %>
    <%= image_tag user.get_profile_image(100,100), class: 'rounded-circle' %>
  <% end %>
</div>
<div class="mr-4 ml-4">
  <small class="text-muted">Genre:
    <% unless user.genres == [] %>
      <% user.genres.each do |genre| %>
        <%= link_to genre.name, users_path(genre_id: genre.id), class: "text-muted" %>
      <% end %>
    <% else %>
      None
    <% end %>
  </small>
</div>
<table class="table table-borderless table-sm text-center mb-0">
  <tr>
    <th scope="col">Follow</th>
    <th scope="col">Follower</th>
  </tr>
  <tr>
    <td id="follow_count_<%= user.id %>"><%= render "public/relationships/follow_count", user: user %></td>
    <td id="follower_count_<%= user.id %>"><%= render "public/relationships/follower_count", user: user %></td>
  </tr>
</table>
<div class="text-center mb-3" id="follow_<%= user.id %>">
  <%= render 'public/relationships/follow_btn', user: user %>
</div>