<%= render "public/shared/error_messages", resource: @user %>
<div class="container">
      <%= form_with model: @user, url: user_path(@user), method: :patch, local: true do |f| %>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="font-weight-bold">Edit</h1>
    </div>
    <div class="col-sm-5 offset-sm-2">

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "20文字以下で入力してください", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :introduction %>
        <%= f.text_area :introduction, placeholder: "20文字以下で入力してください", class: "form-control", rows: "10" %>
      </div>

      <div class="form-group text-center">
      <%= f.label :genre_id, "ジャンルを追加" %><br>
      <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, checked: @user.genres.map(&:id), class: "dd",style: "width: 100px; height: 30px" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group text-center">
        <%= image_tag @user.get_profile_image(300,300), onClick: "$('.profile_img_field').click()", class: "profile_img_prev rounded shadow" %>
        <div class="d-flex align-items-center justify-content-center">
          <%= f.label :profile_image, "プロフィール画像を更新", class: "text-info" %>
          <%= f.file_field :profile_image, accept: "image/*", class: "profile_img_field", style: 'display:none;' %>
        </div>
        <%= image_tag @user.get_background_image_url, onClick: "$('.background_img_field').click()", class: "background_img_prev rounded shadow" %>
        <div class="text-center">
          <%= f.label :background_image, "背景画像を更新", class: "text-info" %>
          <%= f.file_field :background_image, accept: "image/*", class: "background_img_field", style: 'display:none;' %>
        </div>
      </div>
    </div>

    <div class="col-lg-6 text-center mx-auto mt-4">
      <%= f.submit "Update", class: "btn btn-outline-success btn-block" %>
    </div>
  </div>
<% end %>
</div>