<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="font-weight-bold">User info</h1>
    </div>
    <div class="col-lg-3 offset-lg-1 d-flex flex-column align-items-center">
      <%= render 'user_profile', user: @user %>
    </div>
    <div class="col-lg-4 d-flex flex-column align-items-center">
      <h4>Favorite genre</h4>
      <ul class="list-unstyled">
      <% @user.genres.each do |genre| %>
        <li>
          <%= genre.name %>
        </li>
      <% end %>
      </ul>
      <h4>Introduction</h4>
      <p><%= @user.introduction %></p>
    </div>
    <div class="col-lg-3 d-flex flex-column align-items-center">
      <%= render 'user_follower' %>
      <%= link_to "New post", new_post_path %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-4 d-flex flex-column align-items-center">
      <h3 class="font-weight-bold">Favorite artists</h3>
      <%= render 'favorite_artists', artists: @artists %>
    </div>
    <div class="col-lg-4 d-flex flex-column align-items-center">
      <h3 class="font-weight-bold">Favorite musics</h3>
    </div>
    <div class="col-lg-4 d-flex flex-column align-items-center">
      <h3 class="font-weight-bold">Post lists</h3>
      <table class="table table-sm table-borderless text-center">
        <% @posts.first(4).each do |post| %>
        <tr>
          <td scope="col" style="width: 30%">
            <%= image_tag post.get_post_image(50,50), class: 'rounded-circle' %>
          </td>
          <th class="align-middle" scope="col" style="width:30%">
            <%= link_to post.title, post_path(post) %>
          </th>
          <td class="align-middle" scope="col" style="width: 20%">
            <%= render 'public/post_favorites/post_favorite_btn', post: post %>
          </td>
          <td class="align-middle" scope="col" style="width: 20%">
              <%= link_to 'Delete', post_path(post), method: :delete, class: "btn btn-outline-danger pt-0 pb-0" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
