<div class="col-1 p-0 text-center">
</div>
<div class="col-1 p-0 text-center">
  <%= link_to "Log_out", destroy_admin_session_path, method: :delete %>
</div>
<div class="col-4 p-0 mx-auto">
</div>
<div class="col-1 p-0 text-center">
  <%= link_to "Genres", admin_genres_path %>
</div>
<div class="col-1 p-0 text-center">
  <%= link_to "Posts", admin_posts_path %>
</div>
<div class="col-1 p-0 text-center">
  <%= link_to "Users", admin_users_path %>
</div>
<div class="col-1 p-0 text-center">
  <%= link_to "Comments", admin_post_comments_path %>
</div>